<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.supylc.bimo">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:persistent="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".InputTestActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/inputTest"
            android:windowSoftInputMode="stateAlwaysHidden|adjustUnspecified" />
        <activity android:name=".mask.MaskTestActivity" />

        <activity android:name=".KotlinActivity" />

        <activity android:name=".ui.RecyclerViewActivity" />

        <activity android:name=".livedata.LiveDataTestActivity" />
    </application>


</manifest>